*{
	font-family: 'IBM Plex Sans', sans-serif;
}

body {
	margin: 0;
	background-color: rgb(50, 50, 50);
	color: white;
}

#pageTitle{
	padding-top: 100px;
	margin-bottom: 100px;
	font-size: 100px;
	font-style: italic;
	border-bottom: 20px solid rgba(255, 255, 0, 0.5);
	width: fit-content;
	margin: 0 auto 50px auto;
	line-height: 60px;
}

h2{
	margin: auto;
	width: fit-content;
	padding-bottom: 20px;
}

#buttonContainer{
	width: fit-content;
	margin: auto;
	background-color: white;
	padding: 3px;
	border-radius: 10px;
}

button{
	color: white;
	outline: none;
	background-color: rgb(50, 50, 50);
	font-weight: bold;
	font-size: 20px;
	border: none;
	padding: 10px;
}

.leftButton{
	border-radius: 10px 0 0 10px;
}
.rightButton{
	border-radius: 0 10px 10px 0;
}
